html, body {
    height: 489px;
    width: 600px;
}

.navbar {
    padding-top: 15px;
    text-align: center;
    background-color: #DAB8B6;
}

.logo{
    width: 30px;
    height: 10px;
}

.modes img{
    width: 8px;
    height: 8px;
}