.inner-body {
    height: 489px;
    width: 700px;
    background-color: #FFF9EB;
}

.topbar {
    padding-top: 10px;
    text-align: center;
    background-color: #DAB8B6;
    height: 80px;
    width: 100%;
}

.logo{
    width: 150px;
    height: 58.5px;
}


.inner-body img {
    outline: none;
}

.clickable img:hover {
    opacity: 0.7;
    cursor: pointer;
}

.toolbar img {
    width: 45px;
    height: 45px;
    margin-left: 5px;
    margin-right: 5px;
}

.modes img {
    width: 55px;
    height: 55px;
    margin-left: 2px;
    margin-right: 2px;
}

.thick1{
    width: 8px;
    height: 8px;
    margin-right: 4px;
}

    .thick2 {
        width: 13px;
        height: 13px;
        margin-left: 4px;
        margin-right: 4px;
    }

    .thick3 {
        width: 18px;
        height: 18px;
        margin-left: 4px;
        margin-right: 4px;
    }

    .thick4 {
        width: 23px;
        height: 23px;
        margin-left: 4px;
        margin-right: 4px;
    }

.inner-body .container:hover {
    cursor: cell;
}

.bottombar {
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px;
    background-color: #DAB8B6;
    height: 60px;
    width: 100%;
}

.bottombar button {
    margin-left: 1%;
    margin-right: 1%;
    float: right;
    color: black;
    border-color: black;
    font-family: 'Tahoma';
}

.bottombar button:hover {
    background-color: black;
    border-color: black;
    color: white;
}

